parameters:
    ignoreErrors:
      - "#Unsafe usage of new static#"
    level: 5
    treatPhpDocTypesAsCertain: false
    excludePaths:
      - templates/Error/*
      - src/Render/TraceableBigPipe.php
    scanFiles:
      - %currentWorkingDirectory%/web/core/includes/theme.inc
    scanDirectories:
      - %currentWorkingDirectory%/web/modules/contrib/devel
      - %currentWorkingDirectory%/web/modules/contrib/tracer
      - %currentWorkingDirectory%/web/modules/contrib/monolog
      - %currentWorkingDirectory%/web/core
