parameters:
    ignoreErrors:
      - "#Unsafe usage of new static#"
    level: 5
    paths:
      - %currentWorkingDirectory%/web/modules/custom/webprofiler
    scanDirectories:
      - %currentWorkingDirectory%/web/modules/contrib/devel
      - %currentWorkingDirectory%/web/modules/contrib/tracer
      - %currentWorkingDirectory%/web/modules/contrib/monolog
      - %currentWorkingDirectory%/web/core
    scanFiles:
      - %currentWorkingDirectory%/web/core/includes/theme.inc
    excludePaths:
      - %currentWorkingDirectory%/web/modules/custom/webprofiler/src/Render/TraceableBigPipe.php
      - %currentWorkingDirectory%/web/modules/custom/webprofiler/templates/Error
      - %currentWorkingDirectory%/web/modules/custom/webprofiler/src/ErrorRenderer/HtmlErrorRenderer.php
